body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(79, 171, 79);
}
#dealer-hand img {
  height: 178px;
  width: 132px;
  margin: 0.5px;
}
#user-hand img {
  height: 178px;
  width: 132px;
  margin: 0.5px;
}
#hit {
  width: 100px;
  height: 35px;
  font-size: 20px;
}
#stand {
  width: 100px;
  height: 35px;
  font-size: 20px;
}
