body {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(36, 46, 36);
}

h1, h2, h3 {
  color: lightgray;
}
#dealer-hand img {
  height: 178px;
  width: 132px;
  margin: 0.5px;
}
#user-hand img {
  height: 178px;
  width: 132px;
  margin: 0.5px;
}
button {
  width: auto;
  height: 35px;
  font-size: 20px;
}



