body {
  background-color: #00796B;
}


.game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #173b1a;
  border-radius: 10px;
  padding: 20px;
}


.card {
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
}


button {
  background-color: #BF360C;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in-out;
}

button:hover {
  background-color: #FF5722;
}

h2, p, span {
  color: #BF360C;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

#results {
  font-size: 24px;
  color: #BF360C;
}

#balance, #pot {
  background-color: #BF360C;
  border-radius: 5px;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  text-shadow: none;
  margin-right: 20px;
}

img {
  height: 178px;
  width: 132px;
  margin: 0.25em;
  box-shadow: 5px 5px 5px rgb(0, 0, 0);
}
#balance-title, #current-pot {
  color: #BF360C;
  margin-bottom: 0;
}